@import "../../shared/_shared";
body {
    background-color: $color-primary;
    div {
        color: $color-accent-1;
    }
}

.dinh-app {}

.search-section {
    color: red;
    &__type-select {
        height: 40px;
        & &__span {
            color: blue;
        }
    }
    &__search-box {
        input {
            height: 40px;
        }
    }
}