@use "../../shared/_shared" as *;
@mixin fontFamily {
    font: 400 16px "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

html {
    @include fontFamily();
}

body {
    @extend html;
    min-width: 480px;
}

.dinh-app {}