@import "../../shared/_shared";
%dictLogo {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 1px 1px 5px 0px #b1b1b1;
}

#dinh-tooltip {
    z-index: 99999;
    display: none;
    position: fixed;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(199, 199, 199, 0.5);
    background-color: #fff;
    padding: 5px;
    flex-wrap: wrap;
    width: 86px;
    box-sizing: border-box;
    @include transition;
    &__oxford {
        @extend %dictLogo;
    }
    &__hellochao {
        @extend %dictLogo;
    }
    &__googletranslate {
        @extend %dictLogo;
    }
    &__nhatviet {
        @extend %dictLogo;
    }
}

.site-icon {
    $dimension: 32px;
    $margin: 3px;
    border-radius: 5px;
    width: $dimension;
    height: $dimension;
    margin: $margin;
    @include transition;
    &:hover {
        @include scale;
    }
}