@import "../../shared/_shared";
#dinh-tooltip {
    z-index: 99999;
    display: block;
    position: fixed;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #c7c7c7;
    background-color: #fff;
    padding: 5px;
    flex-wrap: wrap;
    max-width: 115px;
    %dictLogo {
        background-size: contain;
    }
    &__oxford {
        @extend %dictLogo;
    }
    &__hellochao {
        @extend %dictLogo;
    }
    &__googletranslate {
        @extend %dictLogo;
    }
}

.site-icon {
    $dimension: 32px;
    $margin: 3px;
    border-radius: 5px;
    width: $dimension;
    height: $dimension;
    margin: $margin;
    @include transition;
    &:hover {
        @include scale;
    }
}